{{- $owner := (getenv "OWNER" "merlindorin") -}}
{{- $source := (getenv "REPO" "/data") -}}
{{- $gomplateVersion := (getenv "GOMPLATE_VERSION" "latest") -}}
{{- $helmDocVersion := (getenv "HELM_DOC_VERSION" "latest") -}}
{{- defineDatasource "charts" (printf "file://%s/%s/" $source "charts") -}}
Charts
======

![Gomplate Version: {{ $gomplateVersion }}](https://img.shields.io/badge/Gomplate-{{ $gomplateVersion }}-informational?style=flat-square) ![Helm Doc Version: {{ $helmDocVersion }}](https://img.shields.io/badge/Helm&nbsp;Doc-{{ $helmDocVersion }}-informational?style=flat-square)

> Helm chart created mainly for personal use or with a pending contribution.

### TL;DR

```shell
helm repo add {{ $owner }} https://{{ $owner }}.github.io/charts
helm search repo {{ $owner }}

# Install any chart you need
helm install my-release {{ $owner }}/<chart>
```

### Chart Available

| Chart Name | Description | Last Version | App Version | Install |
|------------|-------------|:------------:|:-----------:|---------|
{{- range (datasource "charts") -}}
{{ defineDatasource . (printf "%s/%s/%s/%s" $source "charts" . "Chart.yaml") }}
| [`{{ (ds .).name }}`]({{ printf "%s/%s" "charts" . }}) | {{ (ds .).description }} | {{ (ds .).version }} | {{ if coll.Has (ds .) "appVersion" -}}
{{ (ds .).appVersion }}
{{- else }}-{{- end }} | `helm install my-release {{ $owner }}/{{ (ds .).name }}` |
{{- end }}

### Before you begin

#### Prerequisites

- Kubernetes 1.12+
- Helm 3.1.0

#### Setup a Kubernetes Cluster

For setting up Kubernetes on other cloud platforms or bare-metal servers refer to the Kubernetes [getting started guide](http://kubernetes.io/docs/getting-started-guides/).

#### Install Helm

Helm is a tool for managing Kubernetes charts. Charts are packages of pre-configured Kubernetes resources.

To install Helm, refer to the [Helm install guide](https://github.com/helm/helm#install) and ensure that the `helm` binary is in the `PATH` of your shell.

#### Add Repo

The following command allows you to download and install all the charts from this repository:

```shell
helm repo add {{ $owner }} https://{{ $owner }}.github.io/charts
```

#### Using Helm

Once you have installed the Helm client, you can deploy a {{ $owner }} Helm Chart into a Kubernetes cluster.

Please refer to the [Quick Start guide](https://helm.sh/docs/intro/quickstart/) if you wish to get running in just a
few commands, otherwise the [Using Helm Guide](https://helm.sh/docs/intro/using_helm/) provides detailed instructions
on how to use the Helm client to manage packages on your Kubernetes cluster.

Useful Helm Client Commands:
* View available charts: `helm search repo`
* Install a chart: `helm install my-release {{ $owner }}/<package-name>`
* Upgrade your application: `helm upgrade`

### Development

- Generate `README.md`: `docker run --rm --volume "$(pwd):/data" -u $(id -u) hairyhenderson/gomplate:{{ $gomplateVersion }} -f /data/README.tmpl > README.md`
- Generate Chart `README.md`: `docker run --rm --volume "$(pwd):/helm-docs" -u $(id -u) jnorwood/helm-docs:{{ $helmDocVersion }}`

#### Generate `README.md`

If you want to generate your own documentation, you can use the following environment variables:

- `OWNER` (default: "merlindorin"), charts repository owner
- `REPO` (default: "/data"), repository source folder
- `GOMPLATE_VERSION` (default: "latest"), version used for generating `README.md`
- `HELM_DOC_VERSION` (default: "latest"), version used for generating chart `README.md`

For example:

```shell
# Generate README.md for {{ $owner }} in the current folder
OWNER={{ $owner }} REPO=$(PWD) gomplate -f README.tmpl
```

### References

- Pinniped Project: [https://github.com/vmware-tanzu/pinniped](https://github.com/vmware-tanzu/pinniped)
- Bitnami Charts: [https://github.com/bitnami/charts](https://github.com/bitnami/charts)
